@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rubik&display=swap');
@import "tailwindcss";

@theme {
  --font-rubik: "Rubik", sans-serif; 
  --font-inter: "Inter", sans-serif; 
}


@keyframes twinkle {
  0%, 100% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
}

.animate-twinkle {
  animation-name: twinkle;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}